@font-face {
  font-family: "IRANSansX";
  src: url("/assets/fonts/IRANSansXV.woff") format("woff-variations"),
    /* will be the standard and works in Safari now */
      url("/assets/fonts/IRANSansXV.woff") format("woff");
  /* for the other supporting browsers */
  font-weight: 100 900;
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

body {
  font-family: "IRANSansX", sans-serif;
}
